.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.action-button {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply w-12;
  @apply h-12;
  @apply transition-colors;
  @apply duration-150;
  @apply ease-in-out;
  @apply bg-transparent;
  @apply border;
  @apply border-solid;
  @apply shadow-none;
  @apply cursor-pointer;
  @apply rounded-2xl;
  @apply border-stone-300;
  @apply hover:bg-slate-100;
  @apply focus:bg-slate-100;
}